body{
    display: flex;
    justify-content: center;   
    align-items: center;
    height: 95vh;
    background-image: url(img/dark_wall.png);
}
#content {
    display: flex;
    justify-content: center;   
    align-items: stretch;
    flex-direction: row;
    padding: 30px;
    border-radius: 20px;    
    
    box-shadow: inset 4px 4px 8px rgba(70, 70, 70, .5),
    inset -4px -4px 8px rgba(0, 0, 0, .5),
    0px 0px 47px -7px rgba(0,0,0,0.75);
}
aside {
    display: flex;
    justify-content: center;   
    align-items: center;
    flex-direction: column;
    width: 320px;
    margin-right: 40px;
    align-items: right;; 
}
h1 {    
    font-family: 'Squada One', cursive;
    font-weight: 400;
    font-size: 4em;
    margin: 0 0 40px 0;
    text-align: center;;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
    background-image: url(img/dark_wall.png);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(90,90,90, .1);
    cursor: default;
}
aside div{
    width: 70%;
}
aside div div {
    display: inline-block;
    font-family: 'VT323', monospace;
    font-size: 1.5em;
    width: 75%;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 10px;
    background-color: lightgreen;
    border: none;
    border-radius: 5px;
    box-shadow: 4px 4px 8px rgba(100, 100, 100, .5),
    -4px -4px 8px rgba(0, 0, 0, .5),
    inset 0 0 8px rgba(0, 0, 0, .5);
}
aside div div span {
    float: right;
}
aside button {
    cursor: pointer;
    outline: none;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    position: relative;
    top: 12px;
    margin-left: 10px;
    border-radius: 50%;
    border:none;
    box-shadow: -2px -2px 2px rgba(255,255,255,.1), 2px 2px 2px rgba(0,0,0,.5);
    background-image: url(img/dark_wall.png);
}
aside button:active {
    box-shadow: 2px 2px 2px rgba(255,255,255,.1), -2px -2px 2px rgba(0,0,0,.5);
}
#jogo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 460px;
    height: 460px;;
    background-color: lightgreen;
    border-radius: 5px;
    box-shadow: 4px 4px 8px rgba(100, 100, 100, .5),
    -4px -4px 8px rgba(0, 0, 0, .5),
    inset 0 0 8px rgba(0, 0, 0, .5);

}
canvas.border {
    border: 2px solid green;
}